.column {
  display: flex;
  flex-direction: column;

  padding-top: 15px;

  border-right: 1px solid $blue-gray-200;

  $bl: ".column";

  &__name,
  &__input {
    display: flex;
    align-items: center;

    margin: 0 8px;

    color: $blue-gray-600;

    @include m-s14-h21;

    &:hover {
      #{$bl}__button {
        opacity: 1;
      }
    }
  }

  &__input {
    margin: 0;
    padding: 0;

    border: none;
    border-bottom: 1px solid $blue-gray-200;
    outline: none;
  }

  &__target-area {
    overflow-y: auto;
    flex-grow: 1;

    min-width: 224px;
    max-width: 380px;
    height: 1px;
    padding-right: 8px;
    padding-bottom: 30px;
    padding-left: 8px;

    @media (min-width: 1500px) {
      min-width: 244px;
    }
  }

  &__task {
    display: block;

    margin-top: 16px;
  }

  &__button {
    margin: 0;
    padding: 0;

    transition: opacity $animationSpeed;
    transform: scale(0.8);

    opacity: 0;
    border: none;
    outline: none;
    background-color: transparent;
  }

  &__update {
    margin-right: 5px;
    margin-left: 5px;
  }
}
