<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>VueWork - страницы</title>
</head>
<body>
    <ul>
        <li><a href="not_authorized.html">Не авторизованный пользователь</a></li>
        <li><a href="user_index.html">Главная пользователя</a></li>
        <li><a href="admin_index.html">Главная администратора</a></li>
        <li><a href="task_add.html">Попап добавления задачи</a></li>
        <li><a href="task_filled.html">Попап задачи</a></li>
    </ul>
</body>
</html>
