$white-700: #f5f5f5;
$white-800: #f1f3f4;
$white-900: #ffffff;

$red-300: #e57373;
$red-400: #e04545;
$red-500: #e04242;
$red-600: #e53935;
$red-700: #e3120e;

$yellow-300: #ffecb3;

$orange-300: #FFCC80;
$orange-600: #ff9800;

$green-300: #a5d6a7;
$green-600: #43a047;
$green-700: #689f38;

$blue-200: #fafdff;
$blue-300: #b2ebf2;
$blue-500: #2196f3;
$blue-600: #1e88e5;
$blue-700: #1976d2;
$blue-800: #479DE7;

$blue-gray-100: #e3e7ea;
$blue-gray-200: #e5e5e5;
$blue-gray-300: #90a4ae;
$blue-gray-600: #546e7a;

$gray-100: #eceff1;
$gray-900: rgba(33, 33, 33, 0.87);

$black-700: #333333;
$black-900: #000000;

$shadow-500: rgba(54, 123, 245, 0.24);
$shadow-600: rgba(54, 123, 245, 0.32);
$shadow-900: rgba(8, 35, 48, 0.24);
