@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;

  src: local("Roboto"),
    local("Roboto Regular"),
    url("~@/assets/fonts/roboto-regular.woff2") format("woff2"),
    url("~@/assets/fonts/roboto-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;

  src: local("RobotoMedium"),
    local("Roboto Medium"),
    url("~@/assets/fonts/roboto-medium.woff2") format("woff2"),
    url("~@/assets/fonts/roboto-medium.woff") format("woff");
  font-display: swap;
}
