body {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  min-width: 1024px;
  height: 100vh;

  color: $gray-900;
  background-color: $white-900;

  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;

  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
