.alerts {
  @include clear-list;

  position: fixed;
  top: 100px;
  right: 0;

  display: flex;
  align-items: flex-end;
  flex-direction: column;

  padding-right: 30px;

  &--hidden {
    transform: translateX(100%);
  }

  &__item {
    @include r-s14-h16;

    margin-bottom: 20px;
    padding: 15px 20px;

    background-color: $pink-200;
    box-shadow: 0 2px 4px $shadow-400;

    &--success {
      padding-left: 45px;

      color: $white-900;
      background-color: $green-600;
      background-image: url("../img/check.svg");
      background-repeat: no-repeat;
      background-position: 18px 14px;
      background-size: 15px 15px;
    }

    &--error {
      padding-left: 45px;

      color: $white-900;
      background-color: $red-600;
      background-image: url("../img/status-alert--white.svg");
      background-repeat: no-repeat;
      background-position: 18px center;
      background-size: 17px 17px;
    }
  }
}
